@import "../../assets/styles/colors.scss";

.graph {
  .canvas {
    width: 100%;
    min-height: 400px;
    clear: both;
    text-align: center;
    padding: 5px;
    margin-top: 15px;

    &.loading {
      position: relative;
    }

    .loader {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      left: calc(50% - 16px);
    }

    svg {
      overflow: visible;
    }
  }

  .controls {
    width: 100%;
    clear: both;
    text-align: center;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
}